<?xml version="1.0" encoding="utf-8"?>
<!--
    third: That's How I Roll Dice
        A dice roller for roleplaying nerds.
            http://swords.id.au/third/

    Copyright (c) 2010, Brendan Jurd <bj@swords.id.au>
    All rights reserved.

    third is open-source, licensed under the Simplified BSD License, a copy of
    which can be found in the file LICENSE at the top level of the source code.
    -->
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="au.id.swords.third2"
    android:versionCode="8"
    android:versionName="2.4"
    >
    <uses-sdk android:minSdkVersion="11" android:targetSdkVersion="25"/>
    <application
        android:label="@string/app_name"
        android:icon="@mipmap/icon"
        android:theme="@style/AppTheme"
        android:allowBackup="true"
        >
        <activity
            android:name="au.id.swords.third2.ThirdActivity"
            android:label="@string/app_name"
            android:icon="@drawable/app"
            android:screenOrientation="sensor"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="au.id.swords.third2.ThirdTriggerActivity"
            android:label="@string/add_trigger"
            />
    </application>
</manifest> 
