<?xml version="1.0" encoding="utf-8"?>
<!--
    third: That's How I Roll Dice
        A dice roller for roleplaying nerds.
            http://swords.id.au/third/

    Copyright (c) 2010, Brendan Jurd <bj@swords.id.au>
    All rights reserved.

    third is open-source, licensed under the Simplified BSD License, a copy of
    which can be found in the file LICENSE at the top level of the source code.
    -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="au.id.swords.third"
          android:versionCode="2"
          android:versionName="1.01">
    <application android:label="@string/app_name"
                 android:icon="@drawable/app_48"
                 android:theme="@android:style/Theme.NoTitleBar">
        <activity android:name=".ThirdActivity"
                  android:label="@string/app_name"
                  android:icon="@drawable/app_48"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ThirdNamePreset"/>
        <activity android:name=".ThirdNameProfile"/>
        <activity android:name=".ThirdDelProfile"/>
    </application>
    <uses-sdk android:minSdkVersion="3"/>
</manifest> 
